{% extends 'post/base.html' %}
{% load blog_tags %}
{% block title %}all posts{% endblock %}
{% block body %}
    {% if tag %}
        <h2>Tagged with {{ tag.name }}</h2>
    {% else %}
        <h2>Posts</h2>
    {% endif %}

    {% for post in page_obj %}
        <p>post title <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        <p>post author {{ post.author.username }}</p>
        {{ post.body|markdown|truncatewords_html:30 }}
        <p>
        Tags:
        {% for tag in post.tags.all %}
             <a href="{% url 'blog_app:post_list_by_tag' tag_slug=tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
        </p>
        <p>post published date {{ post.published }}</p>
    {% endfor %}
    <div class="pagination">
        <span class="step-link">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span>
                Page {{ page_obj.page }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}